* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-decoration: none;
}


#header {
    background-color: #FEC74FB2;
    display: flex;
    flex-direction: row-reverse;
    
    

}
.img {
    width: 40px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
.img2 {
    width: 40px;
    height: 40px;
}

#nav {
    display: flex;
    margin-right: 40px;
    
}
#ponto {
    color: #FEC74F99;    
    
}
#flor {
    width: 650px;
    height: 330;
    align-items: center;
    border-radius: 30px;
    
}
#divmainw{
    margin: 30px;
}
#divmain {
    margin-top: 30px;
    
    border-radius: 30px;
    display: flex;
    background-color: #FEC74F99;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    width: 100%;
}
#divaux {
    display: flex;
    flex-direction: column;
    margin: 30px;
    text-align: start;
    gap: 10px;
}
.areadetexto {
    padding: 10px;
    resize: none;
    border-radius: 10px;
    
    
}

#botaoseg {
    
    background-color: #F36950;
    display: flex;
    width: fit-content;
    padding: 5px 100px 5px 100px;
    border-radius: 20px;
    color: white;
    margin: 0px 0px 20px 0px;
    

}



