* {
    padding: 0%;
    margin: 0%;
    background-color: #F5F8EC;
}

#header {
    background-color: #FEC74FB2;
    display: flex;
    flex-direction: row-reverse;

}
#nav {
    display: flex;
    margin-right: 40px;
    
}

.navitem {
    background-color: #FEC74FB2;
}
.body{
    display: flex;
    margin: 50px;
    border-radius: 20px;
    background-color: rgba(254, 199, 79, 0.6);
    flex-direction: column;
    align-items: center;
    text-align: start;
}

#image {
    margin-top: 30px;
    background-color: rgba(254, 199, 79, 0.06);
    width: 700PX;
    height: 150PX;
}
.imgdp {
    margin: 0px;
    width: 40px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(254, 199, 79, 0.00);
}

.text{
    text-align: start;
    
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    /*font-weight: 400;*/
    line-height: 43.58px;
    background-color: rgba(254, 199, 79, 0.06);
}

textarea{
    width: 1280px;
    height: 150px;
    padding: 10px; /* espaço interno dentro do textarea */
    font-family: Arial, sans-serif;
    font-size: 16px; 
    color: #333; /* cor do texto */
    background-color: #f4f4f4; /* cor de fundo */
    border: 2px solid #f4f4f4; /* estilo da borda */
    border-radius: 20px;
    resize: none;
    max-width: 1280px;
    
}


.passbutton {
    background-color: rgba(243, 105, 80, 1);
    color: #fff;
    padding: 8px 220px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}

#divcontent {
    gap: 0px;
    text-align: start;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    background-color: rgba(254, 199, 79, 0.0);
}


