* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header{
    background-color: #fbd67e;
    width: auto;
    height: 40px;
    margin: auto;
}

ul{
    list-style: none;
}

nav ul{
    display: flex;
    margin-left: 88%;
}

nav ul li{
    padding-left: 20px;
}

nav ul li img{
    align-self: center;
    height: 35px;
}
#ponto {
    color: #FEC74F99;    
    
}
#flor {
    width: 650px;
    height: 330;
    align-items: center;
    border-radius: 30px;
    
}
#divmainw{
    margin: 30px;
}
#divmain {
    margin-top: 30px;
    
    border-radius: 30px;
    display: flex;
    background-color: #FEC74F99;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    width: 100%;
}
#divaux {
    display: flex;
    flex-direction: column;
    margin: 30px;
    text-align: start;
    gap: 10px;
}
.areadetexto {
    padding: 10px;
    resize: none;
    border-radius: 10px;
    
    
}

#data{
    margin: 25px;
}

#data img{
    width: 300px;
    height: 18px;
}

#dataAtual {
    position: absolute;
    top: 48px; 
    left: 65px;
    font-size: 42px;
    font-weight:500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Carattere;
}

#botaoseg {
    
    background-color: #F36950;
    display: flex;
    width: fit-content;
    padding: 5px 100px 5px 100px;
    border-radius: 20px;
    color: white;
    margin: 0px 0px 20px 0px;
    

}