*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
    font-weight: 500;
}

header{
    background-color: #fbd67e;
    width: auto;
    height: 40px;
    margin: auto;
}

ul{
    list-style: none;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

nav ul li{
    padding-left: 20px;
}

nav ul li img{
    align-self: center;
    height: 35px;
}

main{
display: flex;
    justify-content: center;
}

h2{
    margin: 30px 0px 0px 13px;
}
#text{
    justify-content: space-between;
    display: flex;
    margin-top: 50px;
    width: 80%;
    background-color: #F8E9BD;
    border-radius: 15px;
    font-size: 0.9em;
}

#text h3{
display: flex;
   justify-content: flex-end;
    margin: 30px;
}

#passaro{
    margin: -14% 0 0 50%;
}

#passaro img{
    height: 480px;
}

a{
    display: flex;
    align-items: center;
}

#botao {

    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: #F36950;
}

#botao img {
    max-width: 100%;
    margin: 10px 0 0 20px;
}