* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 500;
}


header{
    background-color: #fbd67e;
    width: auto;
    height: 40px;
    margin: auto;
}

ul{
    list-style: none;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

nav ul li{
    padding-left: 20px;
}

nav ul li img{
    align-self: center;
    height: 35px;
}
#ponto {
    color: #FEC74F99;    
    
}
#flor {
   width: 92%;
    align-items: center;
    border-radius: 30px;
    
}
#divmainw{
    display: flex;
    justify-content: center;
}
#divmain {
    margin-top: 30px;
    border-radius: 30px;
    display: flex;
    background-color: #FEC74F99;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
}
#divaux {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
    text-align: start;
    gap: 10px;
    width: 90%;
    height: 400px;
    
}
.text {
    font-size: 28px;
    font-weight: 400;
}
.areadetexto {
    padding: 12px;
    resize: none;
    border-radius: 10px;
    font-size: 24px;
    
}

#data{
    margin: 25px;
}

#data img{
    width: 24%;
}

#dataAtual {
    position: absolute;
    top: 48px; 
    left: 65px;
    font-size: 42px;
    font-weight:500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Carattere;
}

#botaoseg {
    
    background-color: #F36950;
    display: flex;
    width: 80%;
    border-radius: 20px;
    color: white;
    margin: 0px 0px 20px 0px;
    justify-content: center;


}


@media only screen and (max-width: 365px) {

    #data img{
        width: 100%;
    }

    .text{
        font-size: 18px;
    }

}
@media only screen and (min-width: 365px) and (max-width: 500px) {

    #data img{
        width: 100%;
    }

    .text{
        font-size: 18px;
    }

}
@media only screen and (min-width: 500px) and (max-width: 768px) {

    #data img{
        width: 100%;
    }

    .text{
        font-size: 18px;
    }

}
@media only screen and (min-width: 768px) and (max-width: 1260px) {

    #data img{
        width: 100%;
    }

    .text{
        font-size: 18px;
    }

}
