*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
    font-weight: 500;
}

header{
    background-color: #fbd67e;
    width: auto;
    height: 40px;
    margin: auto;
}

ul{
    list-style: none;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

nav ul li{
    padding-left: 20px;
}

nav ul li img{
    align-self: center;
    height: 35px;
}

#data{
    margin: 25px;
}

#data img{
    width: 300px;
    height: 18px;
}

#dataAtual {
    position: absolute;
    top: 48px; 
    left: 65px;
    font-size: 42px;
    font-weight:500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Carattere;
}

main{
    display: flex;
    justify-content: center;
}

.div{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 95vh;
    background-color: #FADB8E;
    border-radius: 15px;
    align-items: center;
}
main h2{
    text-align: center;
    font-weight: 500;
    padding: 35px;
    font-size: 26px;
}

#adicionar{
    font-size: 1.1em;
    padding:  0px 20px;
    color: white;
    background-color: #F36950;
    margin-top: 40px;
    border-radius: 15px;
    border-style: none;
}

.botaoAnexo {
    width: 80%;
    margin-bottom: 20px;
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    border: none;
}